<div class="main">
    <div class="navbar">
        <div class="icon">
            <h2 class="logo">You<span>Birr</span></h2>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
           
        </div>
        <div class="search">
            <input class="srch" type="search" name="" placeholder="type to text">
            <a href="#"><button class="btan">search</button></a>
        </div>
</div>
