<div class="main">
    <div class="navbar">
        <div class="icon">
            <h2 class="logo">you<span>Birr</span></h2>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="login">Login</a></li>
            </ul>
           
        </div>
        <div class="search">
            <form action="/" method="POST">
                <input class="srch" type="search" name="creatorSearched" placeholder="creator name">
                <a href="#"><button class="btan" type="submit">search</button></a>
            </form>

        </div>
</div>
