<%- include("partials/header") -%> 
<div class="registered">
    <form action="/creatorRegistered" method="post">
        <div class="Sign-Upbox">
            <h1>Successfully registered!!</h1>
            <p>We will review your profile and send you approval message</p>
            <button class="btn" type="submit"><a href="/" class="confirmation-btn" >Confirm</a></button>
        </div>
    </form>  
</div>  
</body>
</html>