<%- include ("./partials/header") -%> 
<%- include ("./user/userPage") -%>

<div class="packagePageContainer">
    <div class="packageTop">
        <div class="profileCover">
            <img src="/images/flower.jpg" alt="" class="profileCoverImg">
            <img src="/images/yellow.png" alt="" class="profileUserImg">
        </div>
        <div class="profileInfo">
            <h4 class="profileInfoName">name</h4>
            <span class="profileInfoDesc">description</span>
        </div>
    </div>
    <div class="packageBottom">
        <div class="searchResults">
            <div class="searchResult package">
                  <div class="searchProfile">
                      <h2>Package 1</h2>
                  </div>
                  <p>when I start from the 2 questions youBirr means<br> youtube Birr the name was driven <br>unconditionally but when we think it over it seems that <br>we get the exact name for the website. because <br>most of the video creators out there </p>
                 <form method="post" action="/user/package"> 
                    <input type="hidden" name="packageIdentifier" value="">
                    <button type="submit" class="subscribeBtn">take</button>
                </form>
             </div>
             <div class="searchResult package">
                <div class="searchProfile">
                    <h2>Package 1</h2>
                </div>
                <p>when I start from the 2 questions youBirr means<br> youtube Birr the name was driven <br>unconditionally but when we think it over it seems that <br>we get the exact name for the website. because <br>most of the video creators out there </p>
               <form method="post" action="/user/package"> 
                  <input type="hidden" name="packageIdentifier" value="">
                  <button type="submit" class="subscribeBtn">take</button>
              </form>
           </div>
           <div class="searchResult package">
            <div class="searchProfile">
                <h2>Package 1</h2>
            </div>
            <p>when I start from the 2 questions youBirr means<br> youtube Birr the name was driven <br>unconditionally but when we think it over it seems that <br>we get the exact name for the website. because <br>most of the video creators out there </p>
           <form method="post" action="/user/package"> 
              <input type="hidden" name="packageIdentifier" value="">
              <button type="submit" class="subscribeBtn">take</button>
          </form>
       </div>
         </div>
    </div>

</div>