<%- include ("./partials/header") -%> 
<%- include ("./user/userPage") -%>
   <div class="paymentWrapper">
     <div class="payment">
             <h1>pay by telebirr</h1>
             <form method="post" action="/user/payment">
               <input type="hidden" name="paymentIdentifier" value="telebirr">
                   <div class="textbox">  
                    <input type="text" placeholder="transaction number" name="transactionNum" value="">
                   </div>  
                   <div class="textbox textboxPhone">  
                    <label for="">To: +2519</label>
                  </div>           
                  <button class="btn" type="submit">Confirm Telebirr Payment</button>
           </form>
     </div>
     <div class="payment">
             <h1>pay by chapa</h1>
                 <form method="post" action="/user/payment">
                   <input type="hidden" name="paymentIdentifier" value="chapa">
                   <div class="textbox">  
                     <input type="text" placeholder="First name" name="firstName" >
                   </div>
                    <div class="textbox">  
                     <input type="text" placeholder="Last name" name="lastName" >
                   </div>
                   <div class="textbox">  
                     <input type="text" placeholder="Email" name="email" >
                   </div>
                   <div class="textbox">  
                    <input type="text" placeholder="amount" name="amount">
                   </div>
                   <div class="textbox">  
                     <input type="num" placeholder="Currency" name="currency" value="ETB" >
                   </div>
                  <button class="btn" type="submit">Pay with chapa</button>
           </form>
       </div>
   </div>
    </div>
  </div>
</body>