<%- include("./partials/header") -%> 
<div class="registered">
        <div class="Sign-Upbox">
            <h1>Successfully donated!!</h1>
            <p>Thank you!</p>
            <button class="btn" type="submit"><a href="/" class="confirmation-btn" >Go back &larr;</a></button>
        </div>
</div>  
</body>
</html>

<!-- telerivet -->