<%- include ("../partials/header") -%>
<%- include ("./creatorPage") -%>

<div class='share'>
    <div class="shareWrapper">
        <div class="shareTop">
        <img src="/assets/yellow.png" class="shareProfileImg" alt="" />
        <input type="text" class="shareInputLink" placeholder="Youtube link"/>    
    </div>
    <textarea name="" class="shareCaption" cols="50" rows="5">Caption</textarea>
        <div class="shareBottom">
            <div class="shareOptions">
                <div class="shareOption">
                <span class="shareOptionText">&nabla;</span>
                </div>
                <div class="shareOption">
                <span class="shareOptionText">&nle;</span>
                </div>
            </div>
            <button class="shareButton">Share</button>
        </div>
    </div>                
</div>
</div>
</div>